version: '3'
services:
  elasticsearch:
    image: elasticsearch:8.11.1
    environment:
      - discovery.type=single-node
    ports:
      - "9200:9200"

  kibana:
    image: kibana:8.11.1
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch